$font-path: '../font';
$primary-color: #333;

@font-face {
	font-family: 'ff Anonymous Pro';
	src: url('#{$font-path}/Anonymous Pro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	font: 14px/20px "ff Anonymous Pro", monospace;
}

body {
	color: $primary-color;
}