.table-wrapper {
	border: 1px solid #ccc;
	overflow-x: auto;

	table {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		background-color: transparent;

		td, th {
			padding: 0.5rem;
			text-align: left;
		}

		tr:nth-child(odd) {
			background-color: #f6f6f6;
		}

		tr:nth-child(even) {
			background-color: #fff;
		}

		tr.table-header {
			background-color: #eee;
			border-bottom: 1px solid #ccc;

			th {
				border-width: 0 1px 0 0;
				border-style: solid;
				border-color: #ccc;
			}

			th:last-child {
				border-right-width: 0;
			}
		}

		tr.category {
			background-color: #fcfcfc;
			border-width: 1px 0;
			border-style: solid;
			border-color: #f9f9f9;
		}



		thead {
			/*width: 100%;*/
		}

		tbody {
			height: 150px;
			overflow-y: auto;
			/*width: 100%;*/
		}

		thead, tbody, tr, td, th {
			display: block;
		}

		tbody > tr > td, thead > tr > th {
			display: inline-block;
			width: 50%;
		}


	}
}