.main {
	& .nav {
		padding: 12px 12px 0;
		position: absolute;
		top: 0px;
		right: 0px;
		left: 0px;
		background-color: rgba(220, 216, 216, 0.8);

		& ul {
			list-style: none;

			& li {
				display: inline-block;

				& a {
					margin-left: 5px;
					margin-right: 5px;
					padding: 5px 5px 2px;
					display: block;
					text-decoration: none;
					border-bottom: 3px solid transparent;

					&:hover {
						border-bottom: 3px solid grey;
					}

					&.active {
						border-bottom: 3px solid red;
					}

					& span {
						padding-left: 4px;
					}
				}
			}
		}
	}

	& .header {
		height: 200px;
		background-color: purple;
	}

	& main {
		width: 960px;
		margin: 0 auto;
	}
}